---
---

@import "{{ site.theme }}";

body {
  font-family: Arial, Helvetica;
  font-size: 1em;
  line-height: 1.5;
  color: #000000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  background: #FFFFFF;
}

#container {
  min-height: 595px;
  background: transparent;
}

a {
  color: #85A8CC;
}
a:hover {
  color: #53769a;
}
